.suggestion__container {
  @apply absolute top-[90px] w-[50%]
 rounded-md;

  background: rgba(0, 0, 0, 0.4);
}

.suggestion__list {
  @apply flex flex-col max-h-[300px] overflow-y-scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.suggestion__list::-webkit-scrollbar {
  display: none;
}

.suggestion__list-item {
  width: 100%;
  @apply w-full px-2 py-4 cursor-pointer hover:bg-black/[.1] flex gap-x-2 items-center font-semibold font-sans;
}
